.headerR{
    padding-top: 90px;
    text-align: center;
    height: 330px;
    width: 1122px;
    background-color: #FF8F68;
}
.portfolioText{
    font-size: 46px;
    font-weight: bold;
    margin-right: 22px ;
    color: #4A4937;

}
.headerR button{
    background-color: transparent;
    color: #4A4937;
    font-size: 14px;
    border-color: none;
    margin: 0 0 26px 26px ;
    height: 57px;
    width: 128px;
    border-radius: 0;
}
.headerR button:hover {
    border-color: #4A4937;
}
.contentR1{
    height: 683px;
    width: 1122px;
    background-color: #F0EFD0;
    position: relative;

}
.contentR1 .contentR1Main{
    background-color: #D9D9D9;
    width: 852px;
    height: 644px;
    position: absolute;
    top: -97px;
    Left: 135px;
    margin: 0;
    padding: 0;
}
.contentR1 button{
    bottom: 0;
    background-color: #FF8F68;
    color: #4A4937;
    height: 57px;
    width: 200px;
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.contentR2{
    height: 580px;
    width: 1122px;
    background-color: #F0EFD0;
    padding: 0;
}
.contentText, .contentText2{
    font-size: 46px;
    font-weight: bold;
    color: #4A4937;
}
.contentText2{
    color: #FF8F68 !important;
}
.contentR2 .container{
    margin: 100px 127px 100px 127px;
    width: 852px;
    height: 394px;
}
.contentR2 .container .col{
    margin: 0;
}
.contentR2 .container img{
    width: 410px;
    height: 394px;
}
.contentR2 p{
    margin-top: 20px;
    color: #4A4937;
    font-size: 13px;
    line-height: 2;
}